$OpenSans-Bold : 'OpenSans-Bold';
$OpenSans-Italic: 'OpenSans-Italic';
$OpenSans-BoldItalic : 'OpenSans-BoldItalic';
$OpenSans-ExtraBold : 'OpenSans-ExtraBold';
$OpenSans-ExtraBoldItalic : 'OpenSans-ExtraBoldItalic';
$OpenSans-Light : 'OpenSans-Light';
$OpenSans-LightItalic : 'OpenSans-LightItalic';
$OpenSans-Regular : 'OpenSans-Regular';
$OpenSans-SemiBold : 'OpenSans-SemiBold';
$OpenSans-SemiBoldItalic : 'OpenSans-SemiBoldItalic';
